#header{
  height:80px;
  line-height: 80px;
  width:100%;
  border-top: 1px solid #e3e7e8;
  border-bottom: 1px solid #e3e7e8;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 .qq{

   height: 30px;width: 30px;display: block;
   background: url(../static/images/icos.png) #fff;
       background-repeat: no-repeat;
       display: inline-block;
      position: relative;
       background-position: -76px -65px;
       background-size: 150px 150px;

 }
 .gototop{height: 30px;width: 30px;display: block;background-color: #eee;text-align: center;line-height: 30px;}
.linehei-80{line-height: 80px; height: 80px;}
.slides{float: left;}
.slides img{padding: 15px; max-width: auto;height:auto;}
.right li a{color: #333;}
.padd-10{width:200px;display: block;}
.margin-l{width:100%;}


.main-banner{
    position: relative;
    width: 100%;
    padding: 19px 0 24px;
    height:484px;
    min-width: 100%;
    overflow-x: hidden;
}

.fiex-viedo{
      width: 980px;
      margin: 0 auto;
      position: relative;
      min-width: auto;
      overflow: hidden;
      z-index: 2;
}
.flash-viedo{
    position: relative;
    min-width: auto;
    overflow-y: hidden;
    width: 783px;
    height: 441px;
    float: left;
}
.small-pic-container{
  width: 190px;
  height: 441px;
  position: absolute;
  right: 0;
  /*padding-top: 5px;
  background: rgba(0,0,0,.8);
  background: #000\0;*/
}
.small-pic-container ul{
  margin-top:-5px;
  padding:0;
  border: none;
}
.small-pic-container ul li{
  display: inline-block;
  margin-bottom: 5px;
  height: 110px;
  border-right: none;
  width: 100%;
  cursor: pointer;
  margin-top: 0;
}
.small-pic-container ul li img{
  height: 110px;
  border: none;
}
.video-main{
            width: 100%;
           height: 100%;
           background:transparent url('../static/images/loading.gif') 50% 50% no-repeat;
           -webkit-background-size:cover;
           -moz-background-size:cover;
           -o-background-size:cover;
           background-size:cover;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.prev{
  display: block;
  height: 30px;
  width: 30px;
  color: #fff;
  text-align: center;
  font-size: 250%;
  line-height: 30px;
  position: absolute;
  top:25%;
  z-index: 33;
}
.next{
  display: block;
  height: 30px;
  width: 30px;
  color: #fff;
  text-align: center;
  font-size: 250%;
  line-height: 30px;
  position: absolute;
  top:25%;
  right: 0;
  z-index: 33;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;

  height: 220px;
  border: 0;
  }
.left-big-img{
  overflow: hidden;
}
.left-big-img a img{
  height: 400px;
  max-width: 100%;

}
.s1{}
.s1 img{
  height: 195px;
  margin-bottom: 5px;
  width: 100%;
}
#pb-0{padding-bottom: 0;}
#pr-0{padding-right: 0;}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
  .main-banner{
    height:150px;
  }
  .uk-sticky-placeholder{display: none;}
  .flash-viedo{
    height: 200px;
    position: relative;
    top: 0;
    width: 414px;
  }
  .video-main{height: 200px;}
}
@media only screen and (min-device-width: 320px)and (-webkit-min-device-pixel-ratio: 2) {
        .rslides img {
          height: 150px;
        }
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
